.container {
  max-width: 100%;
}

.col-xs-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.col-sm-6 {
  padding-right: 0px;
  padding-left: 0px;
}

#picintro {
  background: url(../img/skcphotoanimgifrect.gif) no-repeat center top;
  color: white;
  background-size: cover;
  height: 950px;
  margin: 15px;
}

#textintro {
  background: url(../img/product-designer-pastel.png) no-repeat;
  color: #1c1c1c;
  background-size: 95%;
  height: 950px;
  margin: 55px;
}

#logosign {
  background: url(../img/skc-signature.png) no-repeat center top;
  background-position: left top;
  background-size: contain;
  width: 500px;
  height: 950px;
  margin: 15px;
}

.icon li > a  {
  border-bottom: none;
  box-shadow: none;
  text-decoration:none;
  color: inherit;
}

#textintro ul {
  padding-top: 250px
}